<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stige | <%= title %></title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/imgstyles.css">
  <link rel="stylesheet/less" href="/style.less">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/3a5ae5bdea.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
  
</head>
<body>
  <div class="nav-items">
    <div class="nav">
      <a href="/" class="home"> stige</a>
    </div>
   
      <% if(user){ %> 
        <div><p class="user-name">welcome <%= user.fullname %> </p></div>
        <div><a href="/dashboard" class="btn">Dashboard</a></div>
        <div><a href="/coursePage" class="btn">Go To Course</a></div>
        <div><a href="/tasks" class="btn">Manage Tasks</a></div>
        <div><a href="/userProfile" class="btn">Edit Profile</a></div>
        <div><a href="/logout" class="btn">Logout</a></div>

      <% } else{ %>
        <a href="/login" class="home-btn login">Login</a>
        <a href="/signup" class="home-btn signup">SignUp</a>
      <% } %> 

    
  </div>

