<%- include('partials/header'); -%> 

<body>
    <div class="course-page-head">
        <h2 class="heading course-head">Software Development</h2>
        <p class="course-content">Course Content</p>
    </div>    

    
    
    <div >
        
        <p class="weekNo"> Week 0: Success Habits</p>
        <div class="course-lesson">
            <div  id="l1" class="course-l" onclick="fun1()">
                <p class="head-23">Task 0: Welcome to the Program</p>
            </div>
            <div id="sub-txt1" class="sub-txt">
                <p>
                    Hey, it’s <b>your virtual</b> mentor and more than anything else I would like to welcome you to this program and say a huge bravo for your investment in this program.
                </p>
                
                <p>
                    There are things you are going to learn about that would not just shift <b>your mindset, make you more productive,</b> help you focus better but in the end, make you more successful as a person.
                </p>
                
                <p>
                    During the course of this program, we are going to learn ideas that are going to challenge your preconceived notions about life and everything that you may have learned from your environment while growing up. This is the reason we want you to be completely open to the ideas we will share, pick up the ones which inspire you the most, and discard the rest.
                </p>

                <div class="complate-btn">
                    <button class="complate"><p onclick="complete1()" >Mark Complete</p> <i class="fa fa-check" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
         
        <div class="course-lesson">
            <div  id="l2" class="course-l">
                <p class="head-23" onclick="fun2()">Task 1: Know the Rules</p>
            </div>
            <div id="sub-txt2" class="sub-txt">
                <p>
                    Hey Trainee,
                </p>
                
                <p>
                    Glad you are following the modules. Here are some basic rules to keep in mind to get the best experience out of this <b>Virtual Internship Program.</b> Please follow them with utmost sincerity. Here are the rules:
                </p>
                
                <p>
                    1. <b>Check Mails :</b>  Add info@stige.tech to your contacts in Gmail and check your mails regularly for important notifications.
                </p>
                
                <p>
                    2. Complete Tasks:  mentioned on the your Dashboard on a regular basis.
                </p>

                <p>
                    These are the basic rules for the entire virtual internship program for all the upcoming modules. See you in the next lesson.
                </p>

                <div class="complate-btn">
                    <button class="complate"><p onclick="complete2()" >Mark Complete</p> <i class="fa fa-check" aria-hidden="true"></i></button>
                </div>
            </div>
            
        </div>
        <div class="course-lesson">
            <div  id="l3" class="course-l">
                <p class="head-23" onclick="fun3()"> Task 2: Setup Alarmy</p>
            </div>
            <div id="sub-txt3" class="sub-txt">
                <p>
                    <b>Own the morning, Own the day, Own the LIFE</b>
                </p>
                
                <p>
                    <b>Alarmy</b> is a ground breaking app, to help you stay on track and make you productive. What is special about this alarm is that you have to do certain tasks, called Missions and which you can choose from, before the alarm will stop ringing.
                </p>
                
                <p>
                    <b>Your Tasks :</b>  
                </p>
                
                <p>
                    1. Install The App in your phone (Link given below) <br>
                    2. Setup up mission & alarms (<b>Wake up before 8am</b> – Daily) <br>
                    3. Start owning the mornings. You will eventually own the days.
                </p>

                <div class="task-link">
                    <a class="task-link-btn" href="https://alar.my/">Download Alarmy</a>
                </div>

                <div class="complate-btn">
                    <button class="complate"><p onclick="complete3()" >Mark Complete</p> <i class="fa fa-check" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="course-lesson">
            <div  id="l4" class="course-l">
                <p class="head-23" onclick="fun4()"> Task 3: Personal Information</p>
            </div>
            <div id="sub-txt4" class="sub-txt">
                <p>
                    We are happy to have you here with us and we wish to know more about you to provide you with better experience ahead. It is mandatory to fill the form given below.</b>
                </p>

                <div class="task-link">
                    <a class="task-link-btn" href="shorturl.at/dquF4">Click Here</a>
                </div>

                <div class="complate-btn">
                    <button class="complate"><p onclick="complete4()" >Mark Complete</p> <i class="fa fa-check" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="course-lesson">
            <div  id="l5" class="course-l">
                <p class="head-23" onclick="fun5()">Task 4: Buy a Journal</p>
            </div>
            <div id="sub-txt5" class="sub-txt">
                <p>
                    <b>The greatest inventions & ideas were born on a piece of paper</b>
                </p>
                
                <p>
                    Pioneers like <b>Albert Einstein, Thomas Edison & Steve Jobs</b> used the simple habit of journaling to <b>unlock mental pathways</b> to get ideas and inventions that changed the world. Journaling not just help you get more ideas, but it helps our brain to draft, <b>plans and strategy</b> to make these ideas come to life.
                </p>
                
                <p>
                    Watch this video to understand the power of journaling. 
                </p>
                
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UHbBAe0E2lQ"  frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <p>
                    <b>Your Tasks:</b>
                </p>
                <p>
                    1. Buy a Journal / Notebook<br>
                    2. Watch the Video (Optional)<br>
                    3. Start Journaling each day, for 15 mins before <b>sleeping</b> 
                </p>
                <div class="complate-btn">
                    <button class="complate"><p onclick="complete5()" >Mark Complete</p> <i class="fa fa-check" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="course-lesson">
            <div  id="l6" class="course-l">
                <p class="head-23" onclick="fun6()"> Task 5: Take Personality Test </p>
            </div>
            <div id="sub-txt6" class="sub-txt">
                <p>
                    <b>It’s only when we know what we lack, we may strive to improve it & It’s only when we know our strengths, we can outperform our old self.</b> 
                </p>
                
                <p>
                    <b>Your Tasks:</b>
                </p>
                <p>
                    1. Complete the <b>personality assessment test</b> (Click on the image below) <br>
                    2. <b>Reflect</b> & understand yourself using the results <br>
                    3. Write down your <b>strength and weakness</b> in your journal (Helpful for interview prep) 
                </p>

                <div class="task-img">
                    <a href="https://www.16personalities.com/">
                        <img src="../task-5.png" alt="" width="850px">
                    </a>
                </div>

                <div class="complate-btn">
                    <button class="complate"><p onclick="complete6()" >Mark Complete</p> <i class="fa fa-check" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        
    </div>

    <script>
        // var a = [document.getElementById("sub-txt1") , document.getElementById("sub-txt2"),document.getElementById("sub-txt3"), document.getElementById("sub-txt14") ];
        
        var a = document.getElementById("sub-txt1"); 
        var b = document.getElementById("sub-txt2"); 
        var c = document.getElementById("sub-txt3"); 
        var d = document.getElementById("sub-txt4"); 
        var e = document.getElementById("sub-txt5"); 
        var f = document.getElementById("sub-txt6"); 


        function fun1() 
        {
            if (a.style.display === "none") 
            {
                a.style.display = "block";
                b.style.display = "none";
                c.style.display = "none";
                d.style.display = "none";
                e.style.display = "none";
                f.style.display = "none";
            } else 
            {
                a.style.display = "none";
            }

        }
        function fun2() 
        {
            if (b.style.display === "none") 
            {
                b.style.display = "block";
                a.style.display = "none";
                c.style.display = "none";
                d.style.display = "none";
                e.style.display = "none";
                f.style.display = "none";
            } else 
            {
                b.style.display = "none";
            }
            
        }
        function fun3() 
        {

            if (c.style.display === "none") 
            {
                c.style.display = "block";
                b.style.display = "none";
                a.style.display = "none";
                d.style.display = "none";
                e.style.display = "none";
                f.style.display = "none";
            } else 
            {
                c.style.display = "none";
                
            }
        }
        function fun4() 
        {
            if (d.style.display === "none") 
            {
                d.style.display = "block";
                a.style.display = "none";
                b.style.display = "none";
                c.style.display = "none";
                e.style.display = "none";
                f.style.display = "none";
            } else 
            {
                d.style.display = "none";
            }
        }
        function fun5() 
        {
            var e = document.getElementById("sub-txt5");

            if (e.style.display === "none") 
            {
                e.style.display = "block";
                a.style.display = "none";
                b.style.display = "none";
                c.style.display = "none";
                d.style.display = "none";
                f.style.display = "none";
            } else 
            {
                e.style.display = "none";
            }
        }
        function fun6() 
        {
            var f = document.getElementById("sub-txt6");

            if (f.style.display === "none") 
            {
                f.style.display = "block";
                a.style.display = "none";
                b.style.display = "none";
                c.style.display = "none";
                d.style.display = "none";
                e.style.display = "none";
            } else 
            {
                f.style.display = "none";
            }
        }
        
        function complete1() {
            var x = document.getElementById('sub-txt1');
            var y = document.getElementById('l1');
            var z = document.getElementById('sub-txt2');


            if(x.style.display==="block");
            {
                x.style.display="none";
                y.style.background = "green";
                y.style.color = "white";
                z.style.display="block";
            }

        }
        function complete2() {
            var x = document.getElementById('sub-txt2');
            var y = document.getElementById('l2');
            var z = document.getElementById('sub-txt3');


            if(x.style.display==="block");
            {
                x.style.display="none";
                y.style.background = "green";
                y.style.color = "white";
                z.style.display="block";

            }
        }
        function complete3() {
            var x = document.getElementById('sub-txt3');
            var y = document.getElementById('l3');
            var z = document.getElementById('sub-txt4');

            if(x.style.display==="block");
            {
                x.style.display="none";
                y.style.background = "green";
                y.style.color = "white";
                z.style.display="block";

            }
        }
        function complete4() {
            var x = document.getElementById('sub-txt4');
            var y = document.getElementById('l4');
            var z = document.getElementById('sub-txt5');


            if(x.style.display==="block");
            {
                x.style.display="none";
                y.style.background = "green";
                y.style.color = "white";
                z.style.display="block";

            }
        }
        function complete5() {
            var x = document.getElementById('sub-txt5');
            var y = document.getElementById('l5');
            var z = document.getElementById('sub-txt6');

            if(x.style.display==="block");
            {
                x.style.display="none";
                y.style.background = "green";
                y.style.color = "white";
                z.style.display="block";

            }
        }
        function complete6() {
            var x = document.getElementById('sub-txt6');
            var y = document.getElementById('l6');

            if(x.style.display==="block");
            {
                x.style.display="none";
                y.style.background = "green";
                y.style.color = "white";
                window.location.href = "/";
            }
        }
  
    </script>
    
    <div class="course-page-footer">
        <a href="/dashboard"><h4>Back To Dashboard</h4></a>
    </div>
    
<%- include('partials/footer'); -%>
