<%- include('partials/header'); -%>

    <h2 class="heading dashboard">Dashboard</h2>
    <div class="card-proj">
        <p>
            Welcome to Stige Internship Training. We are happy to have you here.<strong>You can login into your dashboard by clicking on the login link in the menu above after which you will be redirected to your training platform. If you are new to the platform kindly sign up first.</strong>
        </p>
        
        <p>
            As a welcome bonus we are giving you a Pre-course work which will consist of exciting life changing live sessions along with several other modules which can change your life!!
        </p>
        
        <p>
            Your enrolled track will be available to you within 24 hours of registration and will be available in the profile section under the Login button. We are really exited to take you on a 8 week journey to become a better version of ourselves. <strong>Get aboard and let’s become 2.0.</strong> 
        </p>
        
        <div class="profile">
            <a href="/userProfile"><img src="../avatar.jpg"></a>
        
        </div>


        <h5>Your Courses</h5>
        
        <div class="courses">
        
            <ul>
                <li> <a href="/coursePage"> Software Development</a></li>
            </ul>


    </div>

    <%- include('partials/footer'); -%>